@import url('./styles/Header.scss');
@import url('./styles/ProductCards.scss');
@import url('./styles/StaticCards.scss');
@import url('./styles/Catagories.scss');
.main-content {
    pointer-events: auto;
    overflow: hidden;
    padding: 50px 50px;
}


  